Package                           Version
--------------------------------- ---------
asgiref                           3.4.1
backports.entry-points-selectable 1.1.0
certifi                           2021.10.8
charset-normalizer                2.0.12
distlib                           0.3.3
dj-database-url                   0.5.0
Django                            3.2.9
django-ckeditor                   6.1.0
django-heroku                     0.3.1
django-js-asset                   1.2.2
filelock                          3.3.2
gunicorn                          20.1.0
idna                              3.3
Pillow                            8.4.0
pip                               22.0.4
platformdirs                      2.4.0
psycopg2                          2.9.2
python-decouple                   3.6
pytz                              2021.3
requests                          2.27.1
setuptools                        60.9.3
six                               1.16.0
sqlparse                          0.4.2
urllib3                           1.26.9
virtualenv                        20.10.0
wheel                             0.37.1
whitenoise                        5.3.0
