{% extends 'base.html' %}

{% block title %}
Parivesh: Reset Password
{% endblock %}

{% block content %}
<div class="container">
<h1 class="mt-5 text-center">Reset Password!!</h1>
<hr/>
<br/>
<div class="text-center">
    <form method="post">
        {% csrf_token %}
        <div class="mb-auto">
            <input type="email" class="form-control" name="email" placeholder="Type your email" Required>
        </div>
        <br/>
        <button type="submit" class="w-25 btn btn-success mt-2">Submit</button> 
    </form>
</div>
</div>
{% endblock %}