{% extends 'base.html' %}

{% block title %}
Parivesh: Password Reset Form
{% endblock %}

{% block content %}
<div class="container">
  <h1 class="mt-5 text-center">Set Your New Password Here!!</h1>
  <hr/>
  <br/>
  <div class="text-center">
    <form class="form" action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
    <div class="mb-auto">
        <input type="password" class="form-control" name="new_password1" placeholder="New password" Required>
    </div>
    <div class="mb-auto">
        <input type="password" class="form-control" name="new_password2" placeholder="Confirm password" Required>
    </div>
    <br/>
    <button type="submit" class="btn btn-success btn-lg btn-block"><i class="icon-lock4"></i> Set Password</button>
    </form>
  </div>
</div>
{% endblock %}