{% extends 'base.html' %}
{% block title %}
Parivesh: Registration
{% endblock %}

{% block content %}
<div class="container">

    <h1 class="mt-5 text-center" style="color: green;">Please Register Yourself Here!!</h1>
    <hr/>
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
          <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
        </symbol>
      </svg>
      {% for message in messages %}
      <div class="alert alert-danger d-flex align-items-center alert-dismissible fade show" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
        <div>{{ message }}</div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Create A Username (use only letters and numbers)" Required>
        </div>
        <br/>
        <div class="form-group">
            <label for="fname">First Name</label>
            <input type="text" class="form-control" id="fname" name="fname" placeholder="Enter Your First Name" Required>
        </div>
        <br/>
        <div class="form-group">
            <label for="lname">Last Name</label>
            <input type="text" class="form-control" id="lname" name="lname" placeholder="Enter Your Last Name" Required>
        </div>
        <br/>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email Address" Required>
        </div>
        <br/>
        <div class="form-group">
            <label for="pass1">Password</label>
            <input type="password" class="form-control" id="pass1" name="pass1" placeholder="Create Your Password" Required>
        </div>
        <br/>
        <div class="form-group">
            <label for="pass2">Confirm Password</label>
            <input type="password" class="form-control" id="pass2" name="pass2" placeholder="Confirm Your Password" Required>
        </div>
        <br/>
        <button type="submit" class="btn btn-success">Sign Up</button>
    </form>
    <br/>
</div>

{% endblock %}
