{% extends 'base.html' %}
{% block title %}
Parivesh: About Us
{% endblock %}

{% block content %}
{% load static %}
    <div class="container text-center">
        <h1 class="mt-5" style="color: green">Know About Parivesh Team!!</h1>       
        <p class="lead">Our Team Our strength...</p>
        <hr>
        <!-- Arun Sir -->
          <div class="row mb-2">
            <div class="col-md-12">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-lg h-md-250 position-relative" style="background-color: goldenrod;">
                  <div class="col p-4 d-flex flex-column position-static">
                    <h4 class="mb-0 text-center">DR ARUN KUMAR KHOSLA</h4>
                    <hr>
                    <blockquote class="blockquote">
                      <p><i class="card-text mb-auto">
                        I am Arun, Professor in Department of Electronics and Communication Engineering & Dean (Research & Consultancy) at NIT, Jalandhar. I am a PhD from School of Information Technology (Guru Gobind Singh Indraprastha University Delhi), M.Tech from Kurukshetra University, B.Tech from Thapar Institute of Engineering and Technology Patiala.                      </i></p>
                      <br>
                      <figcaption class="blockquote-footer">
                        <strong>Faculty Mentor</strong> &ThickSpace;
                        <strong><strong class="text-danger">Email ID:&ThickSpace;</strong><a href="mailto:khoslaak@nitj.ac.in">khoslaak@nitj.ac.in</a></strong>
                      </figcaption> 
                    </blockquote>
                  </div>
                    <div class="col-auto d-none d-lg-block">
                      <a href="https://www.nitj.ac.in/index.php/nitj_cinfo/Faculty/38">
                        <img src="{% static 'arun_pic.jpg' %}" class="mx-2 my-2 rounded-3 border border-3 bd-placeholder-img" width="250" height="250" alt="About Picture">

                      </a>
                    </div>
                </div>
            </div>
        </div>       
        <!-- Sanjay -->
        <div class="row mb-2">
            <div class="col-md-12">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-lg h-md-250 position-relative" style="background-color: goldenrod;">
                  <div class="col p-4 d-flex flex-column position-static">
                    <h4 class="mb-0 text-center">SANJAY KUMAR</h4>
                    <hr>
                    <blockquote class="blockquote">
                      <p><i class="card-text mb-auto">
                        I am Sanjay, currently pursuing B.Tech in Electronics and Communication Engineering (Major) and Computer Science and Engineering (Minor) from NIT, Jalandhar. I am also the member of DSC-NITJ, Microsoft Learn Student Ambassadors, and AWS Community Builders.
                      </i></p>
                      <br>
                      <figcaption class="blockquote-footer">
                        <strong>Student Member</strong> &ThickSpace;
                        <strong><strong class="text-danger">Email ID:&ThickSpace;</strong><a href="mailto:sanjayk.ec.19@nitj.ac.in">sanjayk.ec.19@nitj.ac.in</a></strong>
                      </figcaption> 
                    </blockquote>
                  </div>
                    <div class="col-auto d-none d-lg-block">
                      <a href="https://www.linkedin.com/in/sanjaykumar086/">
                        <img src="{% static 'sanjay_pic.jpeg' %}" class="mx-2 my-2 rounded-3 border border-3 bd-placeholder-img" width="250" height="250" alt="About Picture">

                      </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Sarthak -->
        <div class="row mb-2">
            <div class="col-md-12">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-lg h-md-250 position-relative" style="background-color: goldenrod;">
                  <div class="col p-4 d-flex flex-column position-static">
                    <h4 class="mb-0 text-center">SARTHAK GUPTA</h4>
                    <hr>
                    <blockquote class="blockquote">
                      <p><i class="card-text mb-auto">
                        I am Sarthak, persuing B.Tech in Electronics and Communication Engineering (Major) and Computer Science and Engineering (Minor) from NIT, Jalandhar. I am also the member of Codechef NITJ chapter.
                      </i></p>
                      <br>
                      <figcaption class="blockquote-footer">
                        <strong>Student Member</strong> &ThickSpace;
                        <strong><strong class="text-danger">Email ID:&ThickSpace;</strong><a href="mailto:sarthakg.ec.19@nitj.ac.in">sarthakg.ec.19@nitj.ac.in</a></strong>
                      </figcaption> 
                    </blockquote>
                  </div>
                    <div class="col-auto d-none d-lg-block">
                      <a href="https://www.linkedin.com/in/sarthak-gupta-97a39a193">
                        <img src="{% static 'sarthak_pic.jpeg' %}" class="mx-2 my-2 rounded-3 border border-3 bd-placeholder-img" width="250" height="250" alt="About Picture">

                      </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bhuwan -->
        <div class="row mb-2">
          <div class="col-md-12">
              <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-lg h-md-250 position-relative" style="background-color: goldenrod;">
                <div class="col p-4 d-flex flex-column position-static">
                  <h4 class="mb-0 text-center">BHUWAN SHARMA</h4>
                  <hr>
                  <blockquote class="blockquote">
                    <p><i class="card-text mb-auto">
                      I am Bhuwan, pursuing B.Tech in Electronics and Communication Engineering (Major) from NIT, Jalandhar. I am also the member of ZealSociety NITJ.</p>
                    </i></p>
                    <br>
                    <figcaption class="blockquote-footer">
                      <strong>Student Member</strong> &ThickSpace;
                      <strong><strong class="text-danger">Email ID:&ThickSpace;</strong><a href="mailto:bhuwans.ec.19@nitj.ac.in">bhuwans.ec.19@nitj.ac.in</a></strong>
                    </figcaption> 
                  </blockquote>
                </div>
                  <div class="col-auto d-none d-lg-block">
                    <a href="https://www.linkedin.com/in/bhuwan-sharma-68aa851aa/">
                      <img src="{% static 'bhuwan_pic.jpeg' %}" class="mx-2 my-2 rounded-3 border border-3 bd-placeholder-img" width="250" height="250" alt="About Picture">

                    </a>
                  </div>
              </div>
          </div>
        </div>
    </div>

{% endblock %}