{% extends 'base.html' %}
{% block title %}
Parivesh: About Us
{% endblock %}

{% block content %}
{% load static %}
    <div class="container text-center">
        <h1 class="mt-5" style="color: green">Know About Parivesh Team!!</h1>       
        <p class="lead">Our Team Our strength...</p>
        <hr>
        <!-- Arun Sir -->
        <div class="card mb-3 box-shadow" style="background-color: lightgreen;">
            <div class="row">
              <div class="col-md-3">
                <a href="https://www.nitj.ac.in/index.php/nitj_cinfo/Faculty/38"><img src="{% static 'arun_pic.jpg' %}" style=" border: 5px double teal;border-radius:50%; width:51%;margin: 11%;" alt="Bhuwan Sharma Profile Pic"></a>
              </div>
              <div class="col">
                <div class="card-body">
                  <h2 class="card-title">Dr. Arun Khosla <i>(Mentor)</i></h2>
                  <hr/>
                  <p class="card-text">I am Arun, Professor in Department of Electronics and Communication Engineering at NIT, Jalandhar. I am a PhD from School of Information Technology (Guru Gobind Singh Indraprastha University Delhi),
                    M.Tech. in Electronics and Communication Engineering from Kurukshetra University,
                    B.Tech. in Electronics and Communication Engineering from Thapar Institute of Engineering and Technology Patiala.</p>
                  <hr/>
                  <p class="card-text"><strong>Email ID: <a href="mailto:khoslaak@nitj.ac.in" class="text-muted">khoslaak@nitj.ac.in</a></strong></p>
                </div>
              </div>
            </div>
          </div>
        <!-- Bhuwan -->
        <div class="card mb-3 box-shadow" style="background-color: lightgreen;">
            <div class="row">
              <div class="col-md-3">
                <a href="https://www.linkedin.com/in/bhuwan-sharma-68aa851aa/"><img src="{% static 'bhuwan_pic.jpeg' %}" style=" border: 5px double teal;border-radius:50%; width:51%;margin: 11%;" alt="Bhuwan Sharma Profile Pic"></a>
              </div>
              <div class="col">
                <div class="card-body">
                  <h2 class="card-title">Bhuwan Sharma <i>(Student Member)</i></h2>
                  <hr/>
                  <p class="card-text">I am Bhuwan, pursuing B.Tech in Electronics and Communication Engineering (Major) from NIT, Jalandhar. I am also the member of ZealSociety NITJ.</p>
                  <hr/>
                  <p class="card-text"><strong>Email ID: <a href="mailto:bhuwans.ec.19@nitj.ac.in" class="text-muted">bhuwans.ec.19@nitj.ac.in</a></strong></p>
                </div>
              </div>
            </div>
          </div>
        <!-- Sanjay -->
        <div class="card mb-3" style="background-color: lightgreen;">
            <div class="row">
              <div class="col-md-3">
                <a href="https://www.linkedin.com/in/sanjaykumar086/"><img src="{% static 'sanjay_pic.jpeg' %}" style=" border: 5px double teal;border-radius:50%; width:51%;margin: 11%;" alt="Sanjay Kumar Profile Pic"></a>
              </div>
              <div class="col">
                <div class="card-body">
                  <h2 class="card-title">Sanjay Kumar <i>(Student Member)</i></h2>
                  <hr/>
                  <p class="card-text">I am Sanjay, currently pursuing B.Tech in Electronics and Communication Engineering (Major) and Computer Science and Engineering (Minor) from NIT, Jalandhar. I am also the member of DSC-NITJ, Microsoft Learn Student Ambassadors, and AWS Community Builders.</p>
                  <hr/>
                  <p class="card-text"><strong>Email ID: <a href="mailto:sanjayk.ec.19@nitj.ac.in" class="text-muted">sanjayk.ec.19@nitj.ac.in</a></strong></p>

                </div>
              </div>
            </div>
          </div>
        <!-- Sarthak -->
          <div class="card mb-3" style="background-color: lightgreen;">
            <div class="row">
              <div class="col-md-3">
                <a href="https://www.linkedin.com/in/sarthak-gupta-97a39a193"><img src="{% static 'sarthak_pic.jpeg' %}" style=" border: 5px double teal;border-radius:50%; width:51%;margin: 11%;" alt="Sarthak Gupta Profile Pic"></a>
              </div>
              <div class="col">
                <div class="card-body">
                  <h2 class="card-title">Sarthak Gupta <i>(Student Member)</i></h2>
                  <hr/>
                  <p class="card-text">I am Sarthak, persuing B.Tech in Electronics and Communication Engineering (Major) and Computer Science and Engineering (Minor) from NIT, Jalandhar. I am also the member of Codechef NITJ chapter.</p>
                  <hr/>
                  <p class="card-text"><strong>Email ID: <a href="mailto:sarthakg.ec.19@nitj.ac.in" class="text-muted">sarthakg.ec.19@nitj.ac.in</a></strong></p>
                </div>
              </div>
            </div>
          </div>
    </div>

{% endblock %}