{% extends 'base.html' %}
{% block content %}
{% load static %}
    <div class="container">
        <div class="text-center">
            <!-- <h1 class="mt-5" style="color: green;">Welcome To Parivesh!!</h1>       
            <p class="lead">A platform for tracking trees planted by NITJ Community...</p>         -->
            <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                </symbol>
              </svg>
            {% for message in messages %}
                <div class="mt-5 alert alert-success d-flex align-items-center alert-dismissible fade show" role="alert">
                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                    <div>{{ message }}</div>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
            <img src="{% static 'home_page_pic.png' %}" class="mt-5 img-fluid img-thumbnail" alt="welcome page">     
            <br/>
            <h2 class="text-center" style="color: green;">Mission</h2>
            <hr>
            <blockquote class="blockquote">
                <h2 style="color: brown;"><i>"Foster plantation thereby reducing carbon footprint"</i></h2>
            </blockquote>
            <hr>
            <br/>
            <div class="text-center">
                <a href="#"}"><button type="button" class="btn btn-xlg btn-outline-info me-2"><h4><strong>Registered Users:</strong> {{ user_count }}</h4></button></a>
                <a href="{% url 'plant-list' %}"><button type="button" class="btn btn-xlg btn-outline-success"><h4><strong>Total Plantations:</strong> {{ plant_count }}</h4></button></a>
            </div>
        </div>
        <br/>
    </div>
{% endblock %}

