{% extends 'base.html' %}
{% block title %}
Parivesh: Knowledge
{% endblock %}

{% block content %}
{% load static %}
    <div class="container">
        <h1 class="mt-5 text-center" style="color: green">Know About Carbon Footprint...</h1>
        <hr>
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Carbon footprint</h4>
            <p>The carbon footprint is the total greenhouse gas (GHG) emissions caused by an individual, 
                event, organization, service, place or product, expressed as carbon dioxide equivalent (CO2e). 
                <b>Greenhouse gases</b>, including the carbon-containing gases carbon dioxide and methane, can be emitted through the burning of fossil fuels, 
                land clearance and the production and consumption of food, manufactured goods, materials, wood, roads, buildings, transportation and other services. 
                </p>
            <hr>
            <p class="mb-0">The concept and name of the carbon footprint derive from the <b>ecological footprint</b> concept.</p>
          </div>
        
          <div class="alert alert-info" role="alert">
            <h4 class="alert-heading">Ecological footprint</h4>
            <p>The ecological footprint is a method promoted by the <b>Global Footprint</b> Network to measure human demand 
                on natural capital (i.e. the quantity of nature it takes to support people or an economy). 
                It tracks this demand through an ecological accounting system. The accounts contrast the biologically 
                productive area people use for their consumption to the biologically productive area available within 
                a region or the world (the productive area that can regenerate what people demand from nature).</p>
            <hr>
            <p class="mb-0">In short, it is a measure of human impact on the environment.</p>
          </div>
          <div class="alert alert-warning" role="alert">
            <h4 class="alert-heading">Carbon dioxide equivalent</h4>
            <p>Carbon dioxide equivalent (CO2e or CO2eq or CO2-e) is calculated from <b>GWP</b>. 
                It can be measured in weight or concentration. For any amount of any gas, it is the amount of CO2 
                which would warm the earth as much as that amount of that gas. Thus, it provides a common scale for 
                measuring the climate effects of different gases. It is calculated as GWP times amount of the other 
                gas.</p>
            <hr>
            <p class="mb-0"><b>Global warming potential (GWP)</b>: GWP is the heat absorbed by any greenhouse gas in 
                the atmosphere, as a multiple of the heat that would be absorbed by the same mass of carbon dioxide 
                (CO2). <i>GWP is 1 for CO2 regardless of the time period used.</i> For other gases it depends on the gas and 
                the time frame.</p>
          </div>

    </div>
{% endblock %}